@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  color: #fff;
  background-color: #0b0b0b;
}

main {
  height: 100vh;
  height: 100dvh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bgDark {
  background-color: #0b0b0b;
}

.bgCards {
  background-color: #171717;
}

.vertical-timeline-element-date {
  color: #fff;
}