@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  color: #fff;
  background-color: #0b0b0b;
}

main {
  height: 100vh;
  height: 100dvh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bgDark {
  background-color: #0b0b0b;
}

.bgCards {
  background-color: #171717;
}


/* Timeline */

html {
  --line-color: #1DB954
}

.vertical-timeline-element-date {
  color: #fff;
}

.vertical-timeline-element-content {

  background-color: #171717 !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) !important;

}

.dev-title {
  color: #000;
  opacity: .5;
  letter-spacing: 6px;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(90deg, #fff 4%, #000 37%);
  -webkit-background-clip: text;
  background-clip: text;
  flex: 0 auto;
}

.label-required {
  color: #000;
  opacity: .5;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(90deg, #fff 4%, #000 37%);
  -webkit-background-clip: text;
  background-clip: text;

}

input {
  padding: 0.5rem;
  border-radius: 2rem;
  border: 1px solid green;
}

input:focus {
  border-color: #48bb78 !important;
  /* Cambia este color al verde deseado */
}