@tailwind base;
@tailwind components;
@tailwind utilities;



html,
body {
  color: #fff;
  background-color: #0b0b0b;
}


h1 {
  font-family: 'MuseoModerno', sans-serif !important;
}

main {
  height: 100vh;
  height: 100dvh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bgDark {
  background-color: #0b0b0b;
}

.bgCards {
  background-color: #171717;
}


/* Timeline */

html {
  --line-color: #1DB954
}

.vertical-timeline-element-date {
  color: #fff;
}

.vertical-timeline-element-content {

  background-color: #171717 !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) !important;

}

.dev-title {
  color: #000;
  opacity: .5;
  letter-spacing: 6px;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(90deg, #fff 4%, #000 37%);
  -webkit-background-clip: text;
  background-clip: text;
  flex: 0 auto;
}

.label-required {
  color: #000;
  opacity: .5;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(90deg, #fff 4%, #000 37%);
  -webkit-background-clip: text;
  background-clip: text;

}

input,
textarea {
  padding: 0.8rem;
  border-radius: 2rem;
  border: 1px solid #000;
  background-color: #171717;
  outline: none !important;

}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 0;
  height: 0;
  opacity: 0;
}

input[type="checkbox"]+label::before {
  background-color: #171717;
  border-radius: 5px;
  color: transparent;
  content: "\2713";
  display: inline-block;
  height: 26px;
  line-height: 16px;
  margin: 10px;
  text-align: center;
  width: 26px;
}


input[type="checkbox"]:checked+label::before {
  border-color: #1db954;
  color: #1db954;
  font-size: 2rem;
}

.form-button {
  background-color: #1db954;
  color: #171717;

}